@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="HomeController">
    <div class="container" style="padding: 20px 0 20px 0">
        <div class="row">
            <div class="col-md-6">
                <form class="form-horizontal" name="fileSystemForm" novalidate>
                    <div class="form-group col-md-12">
                        <label class="control-label col-sm-3" for="name">Username:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="username" placeholder="Username" ng-model="form.username" required />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-sm-3" for="password">Password:</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" name="password" placeholder="Password" ng-model="form.password" required />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-sm-3" for="resourceName">Resource Name:</label>
                        <div class="col-sm-6" ng-class="{'has-error': !form.resourceName && !fileSystemForm.resourceName.$pristine }">
                            <input type="text" class="form-control" name="resourceName" placeholder="Resource Full Path" ng-model="form.resourceName"
                                   ng-pattern="/^\/.+$/i" required />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-sm-3" for="methodType">Method Type:</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="methodType" ng-model="methodType" required>
                                <option value="1">Create Resource</option>
                                <option value="2">Read Resource</option>
                                <option value="3">Write Resource</option>
                                <option value="4">Assign Permission</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-12" ng-if="methodType == 1">
                        <label class="control-label col-sm-3" for="resourceType">Resource Type:</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="resourceType" ng-model="form.resourceTypeId" required>
                                <option value="1">Folder</option>
                                <option value="2">File</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-12" ng-if="(methodType == 1 && form.resourceTypeId == 2) || methodType == 3">
                        <label class="control-label col-sm-3" for="value">Value:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="value" placeholder="Value" ng-model="form.value" ng-required="methodType == 3" />
                        </div>
                    </div>

                    <div class="form-group col-md-12" ng-if="methodType == 4">
                        <label class="control-label col-sm-3" for="role">Permission:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="permission" placeholder="Permission name" ng-model="form.permissionName" ng-required="methodType == 4" />
                        </div>
                    </div>

                    <div class="form-group col-md-12" style="padding-left:100px">
                        <button class="btn btn-primary" ng-disabled="fileSystemForm.$invalid" ng-click="submitForm(methodType, form)">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <form class="form-horizontal" name="rootForm" novalidate>
                    <div class="form-group col-md-12">
                        <label class="control-label col-sm-3" for="usernameRoot">Username:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="usernameRoot" placeholder="Username" ng-model="rootForm.username" required />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-sm-3" for="passwordRoot">Password:</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" name="passwordRoot" placeholder="Password" ng-model="rootForm.password" required />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label col-sm-3" for="methodTypeRoot">Method Type:</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="methodTypeRoot" ng-model="rootMethodType" required>
                                <option value="5">Create Role</option>
                                <option value="6">Assign Role</option>
                                <option value="7">Create Permission</option>
                                <option value="8">Add Permission To Role</option>
                                <option value="9">Change Permission Rights</option>
                                <option value="10">Revoke Role</option>
                                <option value="11">Create Constraint</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-12" ng-if="rootMethodType == 5 || rootMethodType == 6 || rootMethodType == 8 || rootMethodType == 10">
                        <label class="control-label col-sm-3" for="rolename">Role Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="rolename" placeholder="Role name" ng-model="rootForm.roleName" required />
                        </div>
                    </div>

                    <div class="form-group col-md-12" ng-if="rootMethodType == 11">
                        <label class="control-label col-sm-3" for="rolename">Role Name 1:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="rolename1" placeholder="Role name 1" ng-model="rootForm.roleName1" required />
                        </div>
                    </div>

                    <div class="form-group col-md-12" ng-if="rootMethodType == 11">
                        <label class="control-label col-sm-3" for="rolename">Role Name 2:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="rolename2" placeholder="Role name 2" ng-model="rootForm.roleName2" required />
                        </div>
                    </div>

                    <div class="form-group col-md-12" ng-if="rootMethodType == 6 || rootMethodType == 10">
                        <label class="control-label col-sm-3" for="usInRole">User in role:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="usInRole" placeholder="User in role" ng-model="rootForm.userInRole" required />
                        </div>
                    </div>

                    <div class="form-group col-md-12" ng-if="rootMethodType == 7 || rootMethodType == 8 || rootMethodType == 9">
                        <label class="control-label col-sm-3" for="permission">Permission:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="permission" placeholder="Permission name" ng-model="rootForm.permissionName" required />
                        </div>
                    </div>

                    <div class="form-group col-md-12" ng-if="rootMethodType == 7 || rootMethodType == 9">
                        <label class="control-label col-sm-3" for="rights">Rights:</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="rights" ng-model="rootForm.rights" required>
                                @*<option value="none">No Rights</option>*@
                                <option value="r">Read</option>
                                <option value="w">Write</option>
                                <option value="rw">Read & Write</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-12" style="padding-left:100px">
                        <button class="btn btn-primary" ng-disabled="rootForm.$invalid" ng-click="submitForm(rootMethodType, rootForm)">Submit</button>
                        
                    </div>
                </form>
            </div>
            
        </div>
        <hr /><hr />
        <div class="row">
            <div class="col-md-12">
                <div>Server Response</div>
                <div>{{response.message}}</div>
                <div>{{response.fullMessage}}</div>
                <div>{{response.data}}</div>
                <hr /><hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div>Resources status in DB:</div>
                <table class="table">
                    <tr>
                        <th>Resource</th>
                        <th>Owner</th>
                        <th>Permissions</th>
                    </tr>
                    <tr ng-repeat="resource in allResources">
                        <td>
                            <span ng-style="{'padding-left' : resource.Level * 10}">
                                <i ng-class="{1:'fa fa-folder ', 2:'fa fa-file'}[resource.ResourceTypeId]"></i> {{resource.FullPath}}
                            </span>
                        </td>
                        <td>{{resource.Owner}}</td>
                        <td><span ng-repeat="permission in resource.Permissions">{{permission.Name}}, </span></td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <div>Roles status in DB:</div>
                <table class="table">
                    <tr>
                        <th>Role</th>
                        <th>Users</th>
                        <th>Permissions</th>
                    </tr>
                    <tr ng-repeat="role in allRoles">
                        <td>
                            {{role.Name}}
                        </td>
                        <td><span ng-repeat="user in role.Users">{{user.Username}}, </span></td>
                        <td><span ng-repeat="permission in role.Permissions">{{permission.Name}}, </span></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div>Permissions status in DB:</div>
                <table class="table">
                    <tr>
                        <th>Permission</th>
                        <th>Read</th>
                        <th>Write</th>
                    </tr>
                    <tr ng-repeat="permission in allPermissions">
                        <td>
                            {{permission.Name}}
                        </td>
                        <td>{{permission.Read}}</td>
                        <td>{{permission.Write}}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <div>Constraints status in DB:</div>
                <table class="table">
                    <tr>
                        <th>Constraint</th>
                        <th>Role 1</th>
                        <th>Role 2</th>
                    </tr>
                    <tr ng-repeat="constraint in allConstraints">
                        <td>
                            {{constraint.Id}}
                        </td>
                        <td>{{constraint.Role1}}</td>
                        <td>{{constraint.Role2}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>