@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="HomeController">
    <div class="container" style="padding: 20px 0 20px 0">
        <div class="row">
            <form class="form-horizontal" name="fileSystemForm" novalidate>
                <div class="form-group col-md-8">
                    <label class="control-label col-sm-3" for="name">Username:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="username" placeholder="Username" ng-model="form.username" required />
                    </div>
                </div>

                <div class="form-group col-md-8">
                    <label class="control-label col-sm-3" for="password">Password:</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" name="password" placeholder="Password" ng-model="form.password" required />
                    </div>
                </div>

                <div class="form-group col-md-8">
                    <label class="control-label col-sm-3" for="resourceName">Resource Name:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="resourceName" placeholder="Resource Full Path" ng-model="form.resourceName" required />
                    </div>
                </div>

                <div class="form-group col-md-8">
                    <label class="control-label col-sm-3" for="methodType">Method Type:</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="methodType" ng-model="methodType" required>
                            <option value="1">Create Resource</option>
                            <option value="2">Read Resource</option>
                            <option value="3">Write Resource</option>
                            <option value="4">Change Rights</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-8" ng-if="methodType == 1">
                    <label class="control-label col-sm-3" for="resourceType">Resource Type:</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="resourceType" ng-model="form.resourceTypeId" required>
                            <option value="1">Folder</option>
                            <option value="2">File</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-8" ng-if="(methodType == 1 && form.resourceTypeId == 2) || methodType == 3">
                    <label class="control-label col-sm-3" for="value">Value:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="value" placeholder="Value" ng-model="form.value" ng-required="methodType == 3" />
                    </div>
                </div>

                <div class="form-group col-md-8" ng-if="methodType == 4">
                    <label class="control-label col-sm-3" for="rights">Rights:</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="rights" ng-model="form.rights" required>
                            <option value="none">No Rights</option>
                            <option value="r">Read</option>
                            <option value="w">Write</option>
                            <option value="rw">Read & Write</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-8" style="padding-left:100px">
                    <button class="btn btn-primary" ng-disabled="fileSystemForm.$invalid" ng-click="submitForm(methodType, form)">Submit</button>
                    <hr /><hr />
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div>Server Response</div>
                <div>{{response.message}}</div>
                <div>{{response.fullMessage}}</div>
                <div>{{response.data}}</div>
                <hr /><hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div>Resources status in DB:</div>
                <table class="table">
                    <tr>
                        <th>Resource</th>
                        <th>Owner</th>
                        <th>Read</th>
                        <th>Write</th>
                    </tr>
                    <tr ng-repeat="resource in response.allData">
                        <td>
                            <span ng-style="{'padding-left' : resource.Level * 10}">
                                <i ng-class="{1:'fa fa-folder ', 2:'fa fa-file'}[resource.ResourceTypeId]"></i> {{resource.FullPath}}
                            </span>
                        </td>
                        <td>{{resource.Owner}}</td>
                        <td>{{resource.Read}}</td>
                        <td>{{resource.Write}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>